.container {
    paddinng: 24px;
    margin-top: 20px;
}

.eyeLogo {
    border-radius: 100%;
    height: 60%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    text-align: center;
}

.iframe {
    position: absolute;
    width: 100%;
    height: 900px;
    border: none;
    margin-right: 10px;
}
